footer {
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    justify-content: center;
    position: fixed;
    line-height: 60px;
    display: flex;
}